h1 {
    color: green;
}

h2 {
    margin: 5px;
}

#formdiv {
    opacity: 0%;
    pointer-events: none;
    position: relative;
    width: 500px;
    border: solid;
    border-radius: 3px;
}

h2 {
    text-align: center;
}

#logindiv {
    position: absolute;
}

#form {
    width: 100%;
}

form input {
    width: 430px;
}
form button {
    width: 62px;
}
p {
    padding: 2px;
    padding-right: 4px;
    margin: 3px;
    border-radius: 3px;
    background-color: rgb(134, 134, 134);
    width: fit-content;
    max-width: 275px;
    word-wrap: break-word;
}

#messages {
    height: 400px;
    overflow: auto;
}

.myMessage {

    background-color: rgb(114, 155, 244);
}

#mymesdiv {
    display: flex;
    justify-content: right;
}

#timeStamp {
    text-align: center;
    width: 300px;
    opacity: 70%;
    margin: 0;
    background-color: transparent;
    border-top: solid 1.5px grey;
    border-radius: 0;
    margin-top: 5px;
}

#timeStampDiv {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
}